<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.econtact">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingsPanelStudent"></activity>
        <activity android:name=".RetrievePDF" />
        <activity android:name=".SecondTeacherStepTwo" />
        <activity android:name=".SecondTeacherStepOne" />
        <activity android:name=".OngoingTicketStudent" />
        <activity android:name=".OngoingTicketTeacher" />
        <activity android:name=".RejectTickets" />
        <activity android:name=".ConfirmTickets" />
        <activity android:name=".AcceptedTickets" />
        <activity android:name=".CheckNewTicket" />
        <activity android:name=".PendingTickets" />
        <activity android:name=".AddNewTicketStepThree" />
        <activity android:name=".AddNewTicketStepTwo" />
        <activity android:name=".AddNewTicketStepOne" />
        <activity android:name=".PanelTeacher" />
        <activity android:name=".RegisterTeacher" />
        <activity android:name=".RegisterAs" />
        <activity android:name=".PanelStudent" />
        <activity android:name=".RegisterStudent" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>